spring:
  profiles:
    active: dev

  application:
    name: wxapp-web

  quartz:
    #相关属性配置
    properties:
      org:
        quartz:
          scheduler:
            instanceName: wxapp-web-scheduler
            instanceId: ${app.instance.name}_${server.port}
          jobStore:
            class: org.quartz.impl.jdbcjobstore.JobStoreTX
            driverDelegateClass: org.quartz.impl.jdbcjobstore.StdJDBCDelegate
            tablePrefix: QRTZ_
            isClustered: true
            clusterCheckinInterval: 10000
            useProperties: false
          threadPool:
            class: org.quartz.simpl.SimpleThreadPool
            threadCount: 10
            threadPriority: 5
            threadsInheritContextClassLoaderOfInitializingThread: true
    #数据库方式
    job-store-type: "jdbc"

eureka:
  instance:
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: http://eureka.zmy-inc.com:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: "*"
