spring:
  zipkin:
    base-url: https://zipkin.zmy-inc.com:9411/

book:
  default:
    author: zmy
    name: windy

server:
  port: 8888

database:
  common:
    validationQuery: SELECT 1

  dbuser:
    username: wxapp
    password: javGa2kFLbzQ_
    url: jdbc:mariadb://172.17.0.1:3306/wxapp
    driverClassName: org.mariadb.jdbc.Driver
    initialSize: 0
    maxTotal: 4
    maxIdle: 4
    minIdle: 0

  dbquartz:
    username: quartz
    password: 8drFUuACugak6A
    url: jdbc:mariadb://172.17.0.1:3306/quartz
    driverClassName: org.mariadb.jdbc.Driver
    initialSize: 0
    maxTotal: 4
    maxIdle: 4
    minIdle: 0
