spring:
  profiles:
    active: prod

  application:
    name: springdemo


#eureka:
#  instance:
#
#  client:
#    serviceUrl:
#      defaultZone: http://localhost:9999/eureka/

management:
  endpoints:
    web:
      exposure:
        include: "*"

